* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    max-width: 600px;
    width: 90%;
    margin: 30px auto;
}

section img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

section p {
    background: lightgrey;
    padding: 20px;
    border-radius: 20px;
    font-family: arial;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    max-width: calc(100% - 130px);
}

section p::before {
    content: "";
    height: 0;
    border: 15px solid transparent;
    border-right: 15px solid lightgrey;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    left: -25px;
    bottom: 0;
}

.section-2 {
    flex-direction: row-reverse;
}

.section-2 p {
    background: #3bc06f;
    color: white;
}

.section-2 p::before {
    left: 100%;
    border-color: transparent;
    border-left-color: #3bc06f;
}